{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="calculator-wrapping col-11 col-md-2">
        <form action="{% url 'run_calc' %}" method="POST" id="product-form" class="form mb-5" encrypte="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <div>
                <button class="btn btn-success mt-5" type="submit" id="result-btn">Calculate</button> 
            </div>
        </form>
    </div>
</div>


</div>
{% endblock %}