* {
    padding: 0;
    margin: 0;
}

nav {
    width: 100%;
    height: 60px;
    /* position: fixed; */
    background-color: #20B2AA;
    border-bottom: 4px solid #404040;
    padding-bottom: 8px;
}

header {
    width: 100%;
}

header a {
    text-decoration: none;
    color: #000;
}

.logo {
    font-size: 50px;
    padding: 10px;
    margin-left: 15px;
}

header nav ul {
    position: relative;
    display: inline-flex;
    list-style: none;
    margin-left: 7%;
}

header nav ul li {
    display: flex;
    font-size: 20px;
    margin-left: 20px;
}

.login-btn-nav {
    float: right;
    font-size: 20px;
    line-height: 70px;
    margin-right: 30px;
}

main {
    position: relative;
}

.start-section {
    width: 100%;
    height: 80vh;
    float: none;
    display: inline-flex;
    /* margin-top: 60px; */
    margin-top: 100px;
}

.get-started {
    width: 40%;
    height: 38%;
    color: #000;
    padding: 10%;
    margin-top: 60px;
}

.images {
    width: 500px;
    height: 500px;
}

.images img {
    width: 130%;
}

.get-started .create-account-btn {
    margin-top: 7%;
    margin-left: 43%;
}

.descriptions {
    background-color: #20B2AA;
    padding: 3% 10%;
}

.descriptions-wrapper {
    display: inline-flex;
    margin-right: 3%;
}

.info {
    font-size: 20px;
    margin-left: 5%;
}

.comments-wrapper {
    padding: 5% 2%;
}

.comment {
    width: 30%;
    display: inline-flex;
    margin-left: 35px;
}

.comment-image {
    width: 300px;
    height: 100px;
    border: 2px solid #000;
    border-radius: 50%;
}

.comment-text {
    font-size: 18px;
    margin-left: 20px;
}

/* .creators {
    background-color: #404040;
} */

.card-space a{
    width: 400px;
    height: 320px;
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: #404040;
    border-radius: 10px;
    margin: auto 0 auto 43px;
}

.card-space a:hover {
    background-color: #20B2AA;
    transition: all ease-in-out 0.3s;
    color: #000;
}

.card {
    display: block;
    text-align: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.box {
    font-size: 16px;
}

.card img {
    width: 200px;
    object-fit: cover;
    border: 6px solid #20B2AA;
    border-radius: 50%;
}

.name {
    font-size: 30px;
}

