{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <section class="container-fluid start-section">
        <div class="row">
            <div class="col-6 get-started">
                <h1><strong>Manage your money the snappy way</strong></h1>
                <p>
                    Snappy Savings is a fresh take on managing your budget, helping you to track your spending,
                    save some extra money and see if you can afford that payday purchase.
                </p>

                <br>
                <br>
                <button class="col-3 create-account-btn btn btn-success btn-lg">Create Account</button>
            </div>
            <div class="col-3 images">
                <img src="{% static 'images/scales.png' %}" alt="">
            </div>
        </div>
    </section>
    <section class="descriptions container-fluid">
        <div class="descriptions-wrapper row">
            <div class="info info-basic col-3 border border-info text-dark shadow-lg p-3 mb-5 bg-white lead">
                <i class="fas fa-piggy-bank"></i>
                <h2 class="save-heading display-3">Save More!</h2>
                Save a little extra money for your future goals. Sign up with us and get the best out of your money.
                Get the best advice on the purchases, future or current!
            </div>
            <div class="info col-3 info-two border border-info text-light bg-dark hadow-lg p-3 mb-5 bg-dark lead">
                <i class="fas fa-info-circle"></i>
                <h2 class="save-heading2 display-3">Be Informed!</h2>
                Look no further, your financial advisor is just a login away! Subscribe to our blog and get latest
                expenditure and savings trends.
            </div>
            <div class="info col-3 info-three border border-info text-dark bg-dark hadow-lg p-3 mb-5 bg-white lead">
                <i class="fas fa-bed"></i>
                <h2 class="save-heading display-3">Less Stress!</h2>
                Are you about to make an impulse purchase? Don't worry about it, we'll run the numbers!
            </div>
        </div>
    </section>
    <section class="comment-section container-fluid">
        <div class="comments-wrapper">
            <div class="carousel swiper mySwiperComment">
                <div class="row swiper-wrapper">
                    <div class="comment col-3 swiper-slide">
                        <img class="comment-image rounded-circle"
                            src="https://i.ibb.co/Vv82013/pexels-brett-sayles-1073097.jpg"
                            alt="Image of a smiling male customer">
                        <div class="media">
                            <div class="comment-text media-body">
                                <blockquote class="blockquote">
                                    <p>
                                        Snappy Savings has helped me turn my payday woes into payday no's!
                                        I love the affordability feature as it has stopped me making impulse
                                        purchases that I cannot afford and spend it on the things that matter!
                                    </p>
                                    <p>- James</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="comment col-3 swiper-slide">
                        <img class="comment-image rounded-circle"
                            src="https://i.ibb.co/DzKXMw0/pexels-daniel-xavier-1239291.jpg"
                            alt="Image of a smiling female customer">
                        <div class="media">
                            <div class="comment-text media-body">
                                <blockquote class="blockquote">
                                    <p>
                                        I love the app, it helped me save for my first home! Im so glad Snappy Savings
                                        showed me just how much money I was spending on avocado toast!
                                    </p>
                                    <p>- Sarah</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="comment col-3 swiper-slide">
                        <img class="comment-image rounded-circle"
                            src="https://i.ibb.co/444BLn6/pexels-justin-shaifer-1222271.jpg"
                            alt="Another image of a smiling male customer">
                        <div class="media">
                            <div class="comment-text media-body">
                                <blockquote class="blockquote">
                                    <p>I don't know how I lived without Snappy Savings, I have saved enough to hop on
                                        the
                                        next
                                        flight to Bali!
                                    </p>
                                    <p>- Callum</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="comment col-3 swiper-slide">
                        <img class="comment-image rounded-circle"
                            src="https://i.ibb.co/8bHPxvZ/pexels-padli-pradana-2912166.jpg"
                            alt="Image of another smiling female customer">
                        <div class="media">
                            <div class="comment-text media-body">
                                <blockquote class="blockquote">
                                    <p>
                                        The snappy messages really helped me to stop purchasing things that I cannot
                                        afford.
                                        I love this honest fresh take on a finance app.
                                    </p>
                                    <p>- Iona</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="comment col-3 swiper-slide">
                        <img class="comment-image rounded-circle"
                            src="https://i.ibb.co/gzqctYw/pexels-andrea-piacquadio-3767397.jpg"
                            alt="Image of a smiling couple, with the female holding up a credit card">
                        <div class="media">
                            <div class="comment-text media-body">
                                <blockquote class="blockquote">
                                    <p>
                                        Snappy Savings is easy to use and has a sleek design. We would reccomend it to
                                        anybody!
                                    </p>
                                    <p>- Name</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
    <section class="creators container-fluid">
        <div class="card-space">
            <div class="carousel swiper mySwiper">
                <div class="row swiper-wrapper">
                    <div class="creators.box col-3 swiper-slide">
                        <a href="">
                            <div class="creator-card swiper-slide">
                                <div class="box">
                                    <img class="img-first" src="https://imgur.com/65i5UP4.png" alt="">
                                    <div class="name">Erik Forsman</div>
                                    <p class="work">Full Stack Development</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="creators.box col-3 swiper-slide">
                        <a href="">
                            <div class="creator-card swiper-slide">
                                <div class="box">
                                    <img src="https://imgur.com/54aVUcM.png" alt="">
                                    <div class="name">Hope Tracy</div>
                                    <p class="work">Full Stack Development</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="creators.box col-3 swiper-slide">
                        <a href="">
                            <div class="creator-card swiper-slide">
                                <div class="box">
                                    <img src="{% static 'images/james-profile.jpg' %}" alt="Image of James">
                                    <div class="name">James Martin</div>
                                    <p class="work">Full Stack Development</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="creators.box col-3 swiper-slide">
                        <a href="">
                            <div class="creator-card swiper-slide">
                                <div class="box">
                                    <img src="https://i.ibb.co/vz1L2CJ/IMG-20221201-170824-241.webp" alt="Image of Kyle">
                                    <div class="name">Kyle Clow</div>
                                    <p class="work">Full Stack Development</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="creators.box col-3 swiper-slide">
                        <a href="">
                            <div class="creator-card swiper-slide">
                                <div class="box">
                                    <img src="{% static 'images/mia.png' %}" alt="">
                                    <div class="name">Mia Rasmussen</div>
                                    <p class="work">Full Stack Development</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="creators.box col-3 swiper-slide">
                        <a href="">
                            <div class="creator-card swiper-slide">
                                <div class="box">
                                    <img src="https://imgur.com/J8VwIk3.png" alt="">
                                    <div class="name">Yari Carelli</div>
                                    <p class="work">Full Stack Development</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
</main>
{% endblock %}